﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script type="text/javascript">var LoginUrl="@Url.Action("Logout","Login")";</script>
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../../Scripts/LogoutScript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".buttonPage").on("click", function () {
                const page = $(this).attr("name");
                switch (page) {
                    case "Page1":
                        window.location.href = "@Url.Action("Index","Page1")";
                        break;
                    case "Page2":
                        window.location.href = "@Url.Action("Index","Page2")";
                        break;
                    case "Page3":
                        window.location.href = "@Url.Action("Index","Page3")";
                        break;
                }

            });
        });

    </script>
</head>
<body>
    <div style="text-align:center">
        <h2>Home</h2>
        <button name="Page1" id="btnPage1" class="buttonPage">Page 1</button>
        <button name="Page2" id="btnPage2" class="buttonPage">Page 2</button>
        <button name="Page3" id="btnPage3" class="buttonPage">Page 3</button>

        <button name="logout" id="btnLogout">Logout</button>
    </div>
</body>
</html >
