﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page_2</title>
    <script type="text/javascript">var LoginUrl="@Url.Action("Logout","Login")";</script>
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../../Scripts/LogoutScript.js"></script>

</head>
<body>
    <div style="text-align:center">
        <h2>Page 2</h2>
        <h2>Hello @HttpContext.Current.User.Identity.Name</h2>
        <button name="logout" id="btnLogout">Logout</button>
    </div>
</body>
</html>
