﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not allowed</title>
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogin").on("click", function () {
                window.location.href = "@Url.Action("Logout","Login")";
            });
        });

    </script>
</head >
<body>
    <div>
        <h2>Acces Denied</h2>
        <button name="login" id="btnLogin">Login</button>
    </div>
</body>
</html >
