﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#btnLogin").on("click", function () {
                if ($("#txtUsername").val().trim() == "" || $("#txtPassword").val().trim() == "") {
                    alert("Ingrese los campos requeridos");
                    return;
                }

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: "@Url.Action("LogIn", "Login")",
                    data: JSON.stringify( { username: $("#txtUsername").val(), password: $("#txtPassword").val()}),
                    success: function (data) {
                        if(data.state == 1)
                        {
                            var returnUrl = data.returnUrl;

                            if (returnUrl == "") {
                                window.location.href = "@Url.Action("Index","Home")";
                            }
                            else {
                                window.location.href = returnUrl;
                            }
                        }
                        else {
                            alert("Usuario y/o password incorrectos");
                        }
                    }
                });
            });
        });
    </script>
</head>
    <body>
        <div>
            <label >Usernmae</label>
            <input type="text" id="txtUsername" name="username" />
            <label>Password</label>
            <input type="password" id="txtPassword" name="password" />
            <button name="login" id="btnLogin">Login</button>
        </div>
    </body>
</html >
